fastapi
uvicorn[standard]
langchain
langchain-community
langchain-openai
langchain-core
langchain-chroma
langchain-neo4j
python-dotenv
python-multipart
pydantic
pydantic-settings
ibm-watson-machine-learning
ibm-watson
neo4j
chromadb
python-docx
PyMuPDF
Pillow
pytesseract